In [ ]:
import pandas as pd
# ! pip install xlrd
import numpy as np

In [ ]:
df = pd.read_excel('Dataset.xlsx')
df.head()

,Date,500096,500112,500124,500163,500164,500182,500188,500330,500387,...,540025,532784,533269,500260,531500,533273,530007,532652,500165,500870
0,2023-08-01,575.55,619.15,5557.60,2183.00,477.00,3210.05,323.00,1928.30,24151.05,...,329.85,622.90,529.20,888.90,525.00,1114.95,268.25,208.65,337.00,145.15
1,2023-07-31,577.85,615.40,5580.00,2091.05,479.95,3185.05,319.15,1915.95,23900.00,...,329.00,628.00,530.00,883.35,513.20,1119.25,263.30,204.05,330.00,147.55
2,2023-07-28,571.65,616.10,5518.75,1912.05,477.00,3156.95,321.20,1911.20,23995.00,...,308.90,619.05,518.60,881.20,506.65,1121.60,251.85,205.05,326.35,145.05
3,2023-07-27,576.50,614.30,5535.00,1990.00,478.60,3124.95,320.00,1809.95,24101.05,...,310.65,638.05,520.25,894.00,512.35,1098.60,252.05,205.60,324.00,146.95
4,2023-07-26,569.05,611.50,5426.35,1710.95,476.85,3140.00,320.00,1760.55,23731.90,...,309.50,583.00,522.05,897.40,516.85,1063.50,243.05,203.45,320.75,136.80

In [ ]:
# converting pandas dataframe to 2d numpy array
data = df.to_numpy()
asset_id=df.columns.to_numpy()[1:].reshape(50,1)
# removing the date column
data = data[:,1:]
data=data.astype(float)
n = data.shape[1]

print("number of assets = ", n)

number of assets =  50

In [ ]:
# variance-covariance matrix of 50 assets
omega = np.cov(data,rowvar=False)

# weights
w = np.random.uniform(-1, 1, size=(n,1))
# column vector of ones
e = np.ones(n).reshape((50,1))

In [ ]:
# expected returns of asset j
mu_j = np.mean(np.diff(data, axis=0)/data[:-1],axis=0).reshape(-1,1)

### A.  Markowitz Model I: minimize wTÎ© w   subject to  eTw=1, short selling is allowed.

In [ ]:
from numpy.linalg import inv
Lambda = -2/(e.T@inv(omega)@e)
w = inv(omega)@e/(e.T@inv(omega)@e)

In [ ]:
# (a) Optimal portfolio
Optimal_portfolio = {'asset_id': asset_id.reshape(50),
        'weights': w.reshape(50)}
view=pd.DataFrame(Optimal_portfolio)
view

   asset_id   weights
0    500096  0.006712
1    500112 -0.002999
2    500124 -0.000311
3    500163  0.000051
4    500164 -0.001900
5    500182 -0.000074
6    500188  0.004743
7    500330  0.000288
8    500387 -0.000105
9    500520  0.001694
10   500680  0.000240
11   500790 -0.000084
12   500800 -0.003293
13   504212  0.005464
14   505010 -0.000998
15   505200 -0.000058
16   505537 -0.003052
17   507685  0.001280
18   507878  0.867350
19   517168  0.000399
20   519600 -0.002367
21   520066 -0.003141
22   523367  0.000583
23   523395  0.000060
24   524715  0.001656
25   524816 -0.001713
26   530555  0.014315
27   532218  0.172303
28   532286 -0.000515
29   532301  0.000713
30   532374 -0.001552
31   532500 -0.000078
32   532776 -0.013244
33   532977  0.000473
34   533106 -0.003131
35   533278  0.006080
36   534091 -0.000175
37   538268  0.001042
38   539056 -0.024664
39   539254 -0.000180
40   540025 -0.000987
41   532784  0.001437
42   533269 -0.004775
43   500260  0.002108
44   531500 -0.002708
45   533273  0.002298
46   530007 -0.005610
47   532652 -0.014414
48   500165 -0.000684
49   500870  0.001525

In [ ]:
# (b)Investment strategy(How much to invest in which asset to get minimum risk)
Investment = 100000.00
Investment_strategy = {'asset_id': asset_id.reshape(50),
        'Investment': (w*Investment).reshape(50)}
view=pd.DataFrame(Investment_strategy)
view

   asset_id    Investment
0    500096    671.167833
1    500112   -299.917292
2    500124    -31.054822
3    500163      5.061251
4    500164   -189.970683
5    500182     -7.399052
6    500188    474.324240
7    500330     28.777729
8    500387    -10.506000
9    500520    169.414217
10   500680     24.042003
11   500790     -8.377280
12   500800   -329.256077
13   504212    546.364935
14   505010    -99.759968
15   505200     -5.834367
16   505537   -305.151244
17   507685    128.048163
18   507878  86734.951864
19   517168     39.857125
20   519600   -236.739203
21   520066   -314.122139
22   523367     58.318708
23   523395      6.046192
24   524715    165.587432
25   524816   -171.298216
26   530555   1431.504765
27   532218  17230.281668
28   532286    -51.515110
29   532301     71.255820
30   532374   -155.190703
31   532500     -7.836486
32   532776  -1324.351428
33   532977     47.346727
34   533106   -313.144994
35   533278    608.020973
36   534091    -17.509772
37   538268    104.217604
38   539056  -2466.394242
39   539254    -18.028016
40   540025    -98.746336
41   532784    143.654040
42   533269   -477.516558
43   500260    210.820582
44   531500   -270.832994
45   533273    229.757113
46   530007   -561.017860
47   532652  -1441.419768
48   500165    -68.408688
49   500870    152.478315

In [ ]:
# Total return and variance risk at the optimal point
Total_return = (mu_j.T@w)
variance_risk = (w.T@omega@w)
print("Total_return: ",Total_return)
print("variance_risk: ",variance_risk)

Total_return:  [[0.00206812]]
variance_risk:  [[0.13148691]]

### B. Markowitz Model II: minimize wTÎ© w   subject to  eTw=1, short selling is not allowed.

In [ ]:
# pip install cvxpy
import cvxpy as cp
import numpy as np

In [ ]:
P= 2*omega
A = e.T
b = np.ones(1)
G = -np.eye(n)
h = np.zeros(n)
x = cp.Variable(n)
prob = cp.Problem(cp.Minimize((1/2)*cp.quad_form(x, cp.psd_wrap(P))),
                 [G @ x <= h,
                  A @ x == b])
prob.solve()

2.050540230788057

In [ ]:
# (a) Optimal portfolio
w = ['{:.8f}'.format(val) for val in x.value]
w = np.array(w,dtype='float64')
Optimal_portfolio = {'asset_id': asset_id.reshape(50),
        'weights': w.reshape(50)}
view=pd.DataFrame(Optimal_portfolio)
view

   asset_id   weights
0    500096 -0.000000
1    500112 -0.000000
2    500124  0.000000
3    500163  0.000000
4    500164 -0.000000
5    500182 -0.000000
6    500188 -0.000000
7    500330  0.000000
8    500387 -0.000000
9    500520  0.000000
10   500680  0.000932
11   500790  0.000084
12   500800 -0.000000
13   504212  0.005582
14   505010  0.000000
15   505200  0.000018
16   505537 -0.000000
17   507685 -0.000000
18   507878  0.993344
19   517168 -0.000000
20   519600  0.000000
21   520066 -0.000000
22   523367 -0.000000
23   523395  0.000041
24   524715 -0.000000
25   524816 -0.000000
26   530555 -0.000000
27   532218 -0.000000
28   532286 -0.000000
29   532301 -0.000000
30   532374 -0.000000
31   532500  0.000000
32   532776 -0.000000
33   532977  0.000000
34   533106 -0.000000
35   533278 -0.000000
36   534091 -0.000000
37   538268  0.000000
38   539056 -0.000000
39   539254 -0.000000
40   540025 -0.000000
41   532784 -0.000000
42   533269 -0.000000
43   500260 -0.000000
44   531500 -0.000000
45   533273 -0.000000
46   530007 -0.000000
47   532652 -0.000000
48   500165 -0.000000
49   500870 -0.000000

In [ ]:
Investment = 100000.00
Investment_strategy = {'asset_id': asset_id.reshape(50),
        'Investment': (w*Investment).reshape(50)}
view=pd.DataFrame(Investment_strategy)
view

   asset_id  Investment
0    500096      -0.000
1    500112      -0.000
2    500124       0.000
3    500163       0.000
4    500164      -0.000
5    500182      -0.000
6    500188      -0.000
7    500330       0.000
8    500387      -0.000
9    500520       0.000
10   500680      93.178
11   500790       8.395
12   500800      -0.000
13   504212     558.172
14   505010       0.000
15   505200       1.770
16   505537      -0.000
17   507685      -0.000
18   507878   99334.352
19   517168      -0.000
20   519600       0.000
21   520066      -0.000
22   523367      -0.000
23   523395       4.133
24   524715      -0.000
25   524816      -0.000
26   530555      -0.000
27   532218      -0.000
28   532286      -0.000
29   532301      -0.000
30   532374      -0.000
31   532500       0.000
32   532776      -0.000
33   532977       0.000
34   533106      -0.000
35   533278      -0.000
36   534091      -0.000
37   538268       0.000
38   539056      -0.000
39   539254      -0.000
40   540025      -0.000
41   532784      -0.000
42   533269      -0.000
43   500260      -0.000
44   531500      -0.000
45   533273      -0.000
46   530007      -0.000
47   532652      -0.000
48   500165      -0.000
49   500870      -0.000

In [ ]:
# Total return and variance risk at the optimal point
Total_return = (mu_j.T@w)
variance_risk = (w.T@omega@w)
print("Total_return: ",Total_return)
print("variance_risk: ",variance_risk)

Total_return:  [0.00230565]
variance_risk:  2.0505402309718437

 ### C : Markowitz Model III: minimize wTÎ© w   subject to  eTw=1, and total return is exactly 5%,  short selling is allowed.

In [ ]:
Return = .05
A = np.vstack((e.T,mu_j.T))
b = np.array([[1],[Return]],dtype=float)
Lambda = -2/inv(A@inv(omega)@A.T)@b
w = inv(omega)@A.T@inv(A@inv(omega)@A.T)@b
print("lambda 1: ",Lambda[0][0])
print("lambda 2: ",Lambda[1][0])

lambda 1:  -1.3939431935240465
lambda 2:  0.0031737591004078413

In [ ]:
# (a) Optimal portfolio
Optimal_portfolio = {'asset_id': asset_id.reshape(50),
        'weights': w.reshape(50)}
view=pd.DataFrame(Optimal_portfolio)
view

   asset_id    weights
0    500096  -0.299414
1    500112  -0.242819
2    500124  -0.027311
3    500163   0.054956
4    500164   0.073917
5    500182  -0.003143
6    500188   0.337754
7    500330   0.060679
8    500387  -0.005332
9    500520   0.084718
10   500680   0.030291
11   500790   0.005661
12   500800   0.126470
13   504212   0.071826
14   505010   0.025864
15   505200   0.002165
16   505537   0.163759
17   507685  -0.383053
18   507878  30.002658
19   517168  -0.531077
20   519600   0.280012
21   520066  -0.266153
22   523367  -0.015483
23   523395  -0.006792
24   524715  -0.105969
25   524816   0.133715
26   530555  -5.179502
27   532218 -27.327178
28   532286   0.176996
29   532301  -0.549871
30   532374   0.201403
31   532500  -0.010562
32   532776  -0.391582
33   532977   0.036326
34   533106   0.031217
35   533278   0.193092
36   534091  -0.010238
37   538268   0.051080
38   539056   1.423301
39   539254  -0.020235
40   540025   0.372440
41   532784   0.156335
42   533269  -0.019973
43   500260   0.213938
44   531500   0.049113
45   533273  -0.069538
46   530007  -0.051949
47   532652   2.318150
48   500165   0.094467
49   500870  -0.255130

In [ ]:
Investment = 100000.00
Investment_strategy = {'asset_id': asset_id.reshape(50),
        'Investment': (w*Investment).reshape(50)}
view=pd.DataFrame(Investment_strategy)
view

   asset_id    Investment
0    500096 -2.994142e+04
1    500112 -2.428192e+04
2    500124 -2.731116e+03
3    500163  5.495597e+03
4    500164  7.391662e+03
5    500182 -3.143379e+02
6    500188  3.377538e+04
7    500330  6.067944e+03
8    500387 -5.332063e+02
9    500520  8.471770e+03
10   500680  3.029080e+03
11   500790  5.661252e+02
12   500800  1.264703e+04
13   504212  7.182641e+03
14   505010  2.586427e+03
15   505200  2.164864e+02
16   505537  1.637590e+04
17   507685 -3.830528e+04
18   507878  3.000266e+06
19   517168 -5.310766e+04
20   519600  2.800121e+04
21   520066 -2.661532e+04
22   523367 -1.548254e+03
23   523395 -6.792209e+02
24   524715 -1.059685e+04
25   524816  1.337155e+04
26   530555 -5.179502e+05
27   532218 -2.732718e+06
28   532286  1.769965e+04
29   532301 -5.498707e+04
30   532374  2.014027e+04
31   532500 -1.056152e+03
32   532776 -3.915819e+04
33   532977  3.632568e+03
34   533106  3.121677e+03
35   533278  1.930919e+04
36   534091 -1.023798e+03
37   538268  5.107959e+03
38   539056  1.423301e+05
39   539254 -2.023485e+03
40   540025  3.724399e+04
41   532784  1.563349e+04
42   533269 -1.997299e+03
43   500260  2.139385e+04
44   531500  4.911280e+03
45   533273 -6.953775e+03
46   530007 -5.194928e+03
47   532652  2.318150e+05
48   500165  9.446683e+03
49   500870 -2.551302e+04

In [ ]:
# Total return and variance risk at the optimal point
Total_return = (mu_j.T@w)
variance_risk = (w.T@omega@w)
print("Total_return: ",Total_return)
print("variance_risk: ",variance_risk)

Total_return:  [[0.05]]
variance_risk:  [[700.108729]]

### D:  Markowitz Model IV: minimize  wTÎ© w subject to eTw= 1, and total return is a minimum of 5%, short selling is allowed

In [ ]:
Return = .05
P= 2*omega
A = e.T
b = np.ones(1)
G = -mu_j.T
h = np.array([-Return])
x = cp.Variable(n)
prob = cp.Problem(cp.Minimize((1/2)*cp.quad_form(x, cp.psd_wrap(P))),
                 [G @ x <= h,
                  A @ x == b])
prob.solve()

700.10872864776

In [ ]:
# (a) Optimal portfolio
w = ['{:.8f}'.format(val) for val in x.value]
w = np.array(w,dtype='float64')
Optimal_portfolio = {'asset_id': asset_id.reshape(50),
        'weights': w.reshape(50)}
view=pd.DataFrame(Optimal_portfolio)
view

   asset_id    weights
0    500096  -0.299414
1    500112  -0.242819
2    500124  -0.027311
3    500163   0.054956
4    500164   0.073917
5    500182  -0.003143
6    500188   0.337754
7    500330   0.060679
8    500387  -0.005332
9    500520   0.084718
10   500680   0.030291
11   500790   0.005661
12   500800   0.126470
13   504212   0.071826
14   505010   0.025864
15   505200   0.002165
16   505537   0.163759
17   507685  -0.383053
18   507878  30.002658
19   517168  -0.531077
20   519600   0.280012
21   520066  -0.266153
22   523367  -0.015483
23   523395  -0.006792
24   524715  -0.105969
25   524816   0.133715
26   530555  -5.179502
27   532218 -27.327178
28   532286   0.176996
29   532301  -0.549871
30   532374   0.201403
31   532500  -0.010562
32   532776  -0.391582
33   532977   0.036326
34   533106   0.031217
35   533278   0.193092
36   534091  -0.010238
37   538268   0.051080
38   539056   1.423301
39   539254  -0.020235
40   540025   0.372440
41   532784   0.156335
42   533269  -0.019973
43   500260   0.213938
44   531500   0.049113
45   533273  -0.069538
46   530007  -0.051949
47   532652   2.318150
48   500165   0.094467
49   500870  -0.255130

In [ ]:
Investment = 100000.00
Investment_strategy = {'asset_id': asset_id.reshape(50),
        'Investment': (w*Investment).reshape(50)}
view=pd.DataFrame(Investment_strategy)
view

   asset_id   Investment
0    500096   -29941.424
1    500112   -24281.919
2    500124    -2731.116
3    500163     5495.597
4    500164     7391.662
5    500182     -314.338
6    500188    33775.381
7    500330     6067.944
8    500387     -533.206
9    500520     8471.770
10   500680     3029.080
11   500790      566.125
12   500800    12647.032
13   504212     7182.641
14   505010     2586.427
15   505200      216.486
16   505537    16375.905
17   507685   -38305.278
18   507878  3000265.848
19   517168   -53107.664
20   519600    28001.207
21   520066   -26615.319
22   523367    -1548.254
23   523395     -679.221
24   524715   -10596.852
25   524816    13371.548
26   530555  -517950.191
27   532218 -2732717.824
28   532286    17699.648
29   532301   -54987.073
30   532374    20140.269
31   532500    -1056.152
32   532776   -39158.194
33   532977     3632.568
34   533106     3121.677
35   533278    19309.188
36   534091    -1023.798
37   538268     5107.959
38   539056   142330.061
39   539254    -2023.485
40   540025    37243.992
41   532784    15633.490
42   533269    -1997.299
43   500260    21393.849
44   531500     4911.280
45   533273    -6953.775
46   530007    -5194.928
47   532652   231815.009
48   500165     9446.683
49   500870   -25513.016

In [ ]:
# Total return and variance risk at the optimal point
Total_return = (mu_j.T@w)
variance_risk = (w.T@omega@w)
print("Total_return: ",Total_return)
print("variance_risk: ",variance_risk)

Total_return:  [0.05]
variance_risk:  700.1087279935554